<!-- views/partials/details-list.ejs -->
<table>
  <thead>
    <tr>
      <th>Payment ID</th>
      <th>Student Name</th>
      <th>Method</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% details.forEach(detail=> { %>
      <tr>
        <td><%= detail.payment_id %></td>
        <td><%= detail.student_name %></td>
        <td><%= detail.method_name %></td>
        <td><%= detail.amount %></td>
      </tr>
    <% }) %>
  </tbody>
</table>